:root{
    --cor-aurora--verde:#60B79C;
    --cor-aurora--roxo:#774C6F;
    --cor-aurora-azul:#3C5A8A;

    /*Tons Nórdicos*/

    --cor-fundo-escuro:#1A202C;
    --cor-texto-claro:#E0E7FF;
    --cor-destaque-claro:#A3B1C2;

    /*Variáveis de Fonte*/

    --fonte-principal: 'Arial', sans-serif; 
}

body{
    background-color:var(--cor-fundo-escuro);
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal)
    color: var(--cor-texto-claro);
    text-align: center;
}

header {
    background-color: var(--cor-aurora-azul);
    color: var(--cor-texto-claro);
    color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.3);
}
main{
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}
h1{
    color: var(--cor-texto-claro);
}
p{
    color: var(--cor-texto-claro);
}
h2{
    color: var(--cor-aurora--verde);
    border-bottom:  2px solid var(--cor-destaque-claro);
    padding-bottom: 10px;
    margin-top: 30px;
}
.botoes-categoria {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-grow: wrap;
}

.botao{
    text-decoration: none;
    background-color: var(--cor-aurora--roxo);
    color: var(--cor-texto-claro);
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    max-width: 300px;
}
.botao:hover {
    background-color: var(--cor-aurora--verde);
    color: var(--cor-destaque-claro);
}
.botao-nav{
    text-decoration: none;
    color: var(--cor-texto-claro);
    border: 1px solid var(--cor-destaque-claro);
    padding: 8px 15px;
    transition: background-color 0.3s;
    font-size: inline-block;
    margin-top: 10px;
}
.botao-nav:hover{
    background-color: var(--cor-aurora-azul);
}
.lista-projetos{
    list-style: none;
    padding: 0;
    margin-top: 40px;
}
.lista-projetos li{
    background-color: #283344;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-left: 5px solid var(--cor-aurora--verde);
    transition: transform 0.3s ease;
}
.lista-projetos li:hover{
    transform: scale(1.02);
    border-left-color: var(--cor-aurora--roxo);
}
.lista-projetos h3 a{
    color: var(--cor-texto-claro);
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    margin-bottom: 5px;
}
.lista-projetos h3 a:hover{
    color: var(--cor-aurora--verde);
    text-decoration: underline;
}
.lista-projetos p {
    color: var(--cor-destaque-claro);
    font-size: 0.9em;
}
